
.start{
  background-color:blue;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px;
  margin-left: 80px
}
.reset{
  background-color: red;
  cursor: pointer;
  outline: none;
  border: none;
  color: white;
  border-radius: 5px
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
